// Uncomment or modify the parameters below to fit your dataset and setup choices
params {
  // Root path for Database
  params.dbPath = "/work_ifs/sukmb447/db/FA-nf"
  // Interproscan version used
  params.iprscanVersion = "5.48-83.0"
  // Kofam version used
  params.koVersion = "2021-05-02"
  // NCBI DB list - Comma separated
  params.blastDBList = "swissprot,pdbaa"
  
  withLabel: download {
                time='240h'
                executor='local'
        }
  withLabel: blast {
                time='240h'
                executor='local'
        }
  withLabel: ipscan {
                time='240h'
                executor='local'
        }     
}
